workDir                 = "$baseDir/workdir"

report {
    enabled             = true
}

params {
    date            = new Date()
    data            = "$baseDir/data/*.txt"
}

profiles {

  standard {
    includeConfig "config/local.config"
  }
}


manifest {
    author      = "Jo"
    name        = "useless test workflow"
    description = ""
    mainScript  = "main.nf"
}
